.m-3.mt-5
  .card
    .card-body
      .monster
        .mx-auto.complete-image
          = image_tag "yukichi.png", class: "rounded-circle", width: "100px"
      .monster.mt-3
        .mx-auto.font-weight-bold
          新しいのぐちの登録
        .mx-auto
          .font-weight-bold
           パワー : #{ monster.power }
