.p-3.pt-5.pb-5.complete-back
  .card
    .card-body.pb-4
      .complete-image.text-center
        = image_tag "yukichi.png", class: "rounded-circle", width: "100px"

      .font-weight-bold.text-center
        新しい
        のぐち
        の登録
      .pd-1
        .small.text-center.text-muted
          #{@monster.created_at.strftime('%Y年%m月%d日 %H時%M分')}
      .mt-3
        .text-center
          .font-weight-bold のぐちのパワー
          %h1.big #{ @monster.power }
      .mt-4
        .text-center
          .small.text-muted おめでとうございます！
          .p-2.font-weight-bold
            #{ @monster.name}
          .small.text-muted を獲得しました！
  .p-5
