.p-3
  .card
    .card-body
      .text-center
        %h1.title \ Oops! /
        = image_tag "aaa.png", width: "90%"
        %p 「ちゃんとあげてくれたまえ。」
      - if @moster_form.errors.full_messages.any?
        .alert-danger.p-2
          - @moster_form.errors.full_messages.each do |message|
            .p-2= message
