- if battles.blank?
  %span まだバトルがないゾ
- else
  - battles.each do |battle|
    .list-group
      %span
        %span.font-weight-bold.text-primary= battle.winner.name
        VS
        = battle.loser.name
