:ruby
  win_battles_count = @win_battles&.count.to_f
  lose_battles_count = @lose_battles&.count.to_f
  total_battles_count = win_battles_count + lose_battles_count
.m-3
  %p.font-weight-bold.d-inline バトル履歴
  - if total_battles_count.positive?
    %span（勝率 #{(win_battles_count / (total_battles_count) * 100).round}%）
%ul.nav.nav-pills.mb-3#pills-tab{ role: "'tablist" }
  %li.nav-item.ml-3
    %a.nav-link.active#pills-win-tab.fontM{ data: { toggle: "pill" }, href: "#pills-win", role: "tab", aria: { controls: "pills-win", selected: "true" } } WIN
  %li.nav-item.ml-3
    %a.nav-link#pills-lose-tab.fontM{ data: { toggle: "pill" }, href: "#pills-lose", role: "tab", aria: { controls: "pills-lose" } } LOSE
.tab-content#pills-tab-content
  .tab-pane.fade.show.active#pills-win{ role: "tabpanel", aria: { labelledby: "pills-win-tab" } }
    .ml-3.my-3
      - if @win_battles.blank?
        %span まだバトルがないゾ
      - else
        = render partial: 'battle', collection: @win_battles, locals: { battles: @win_battles }
  .tab-pane.fade#pills-lose{ role: "tabpanel", aria: { labelledby: "pills-lose-tab" } }
    .ml-3.my-3
      - if @lose_battles.blank?
        %span まだバトルがないゾ
      - else
        = render partial: 'battle', collection: @lose_battles, locals: { battles: @lose_battles }
