%h1.m-3 バトル履歴
%h2.d-inline.border.rounded.p-1.ml-3 WIN
.ml-3.my-3= render "battle", battles: @win_battles
%h2.d-inline.border.rounded.p-1.ml-3 LOSE
.ml-3.my-3= render "battle", battles: @lose_battles
