@import "~bootstrap/scss/bootstrap";
@import "common";
@import "monster";
@import "loading";

.active-noguchi {
  position: absolute;
}

.mini {
  font-size: 8px;
}

.white-block {
  width: 100%;
  height: 100%;
}
