.monster {
  display: flex;

  &-image {
    margin-right: 10px;
  }
}

.complete {
  margin: 0 auto;
  width: 100%;
}

.complete-image {
  position: relative;
  top: -50px;
}

.big {
  font-size: 65px;
}
