.monster {
  display: flex;

  &-image {
    margin-right: 10px;
  }

  &-select {
    border: solid 1px red;
  }
}

.complete {
  margin: 0 auto;
  width: 100%;
}

.complete-image {
  position: relative;
  top: -50px;
}

.big {
  font-size: 65px;
}

.complete-back {
  background: linear-gradient(-135deg, #E4A972, #9941D8);
  height: 100%;
}
